*{margin: 0; padding: 0;}

p.text-muted {font-size: medium;padding-bottom: 90px;}

h6.display-4 {
    font-size: 40px;
    padding-top: 90px;
}
a.nav-link.btn.btn-outline-danger {
    border-color: white;
}

a.nav-link.btn.btn-outline-danger:hover {
    color: white!important;
    border-color: #d9534f;
}

a.nav-link:hover {
    color: #FF5722!important;
}
.baner .tieude h1{
	animation:  ditutrenxuong 2s forwards;
}
.baner .tieude p{
	animation: zom 2s forwards;
}
.baner .tieude a{
	animation: ditutraisang 2s forwards;
}
@keyframes ditutrenxuong{
	from{transform:translatey(-300px);opacity:0};
	to{transform:translatey(0);opacity:1};
}
@keyframes zom{
	from{transform:scale(0);opacity:0};
	to{transform:scale(1);opacity:1};
}
@keyframes ditutraisang{
	from{transform:translateX(-300px);opacity:0};
	to{transform:translateX(0);opacity:1};
}

.tieude p {
    color: #c3c5c5;
        font-size: 20px;
}

.tieude h1 {
    font-weight: 700;
    font-size: 46px;
    color: white;
}
.menutop{
	background-color: transparent;
	padding-top: 50px;
}
.baner .menutop li:active a.nav-link{
	color: #d9534f!important;
}
.baner:after{
	content: '';
	width: 100%;
	height: 700px;
	background: rgba(0, 0, 0, 0.65);
	top: 0;
	position: absolute;
}
.baner{
	background-image: url(images/1.jpg);
	background-size: cover;
	height: 700px;
	position: relative;
}
.tieude{
	padding-top: 15%;
	position: relative;
	z-index: 2
}
a.nav-link {
    padding-left: 25px;
    font-size: 12px;
    color: white!important;
    transition: 0.5s;
}
@media(max-width:576px){
	*{}
	.menutop{
		width:53%;
		background-color:black;
	}
	.tieude{
		margin-top:50px;
	}
	.menutop ul li{
		text-align:center;
	}
	.tieude h1{
		font-size:35px;
	}
	.tieude p{
		font-size:20px
	}
}
img.anh {
    width: 600px;
}
p.ghichu {
    margin-right: 15%;
}
.blockquote p {
    font-size: small;
}

.carousel-indicators li{
	background: green;
	
}
.carousel-indicators{
	margin-top: 100px;
}
.slide{
	background: #f5f5f5;
	    padding-bottom: 50px;
}
.tieudeslide h3 {
    margin-top: 50px;
}
.slide img {
    width: 200px;
    border-radius: 100px;
    
}
.slide .carousel-indicators .active{
	background: green;
}
.slide .carousel-indicators {
    margin-bottom: -30px;
}
i {
    font-size: 25px;
}
.navbar{
	transition: 1s;
}
.navbar.mauxanh{
	background:#d9534f ;
	padding-top: 20px;
}
.sphot{
	background-color: white;
}
.sphot img{
	width: 100%;
}
.sphot div#carousel-example-generic {
    background-color: white;
}
.sphot .carousel-indicators li{
	background-color: black;
	margin-bottom: 75px;
}
.sphot .carousel-indicators li.active{
	background-color: red;

}
.dem{
	background-image: url('images/4.png');
	height: 250px;
}
.dem .conso .so{
	font-size: 60px;
	color: #5be8cd;
	padding-top: 23%;
}
.dem p{
	font-size: 25px;
	color: white;
}
.sanpham{
	padding-bottom: 130px;
	padding-top: 100px;
}
.sp{
	position: relative;
}
.sp .ten{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:#d9534f; 
	top:0px;
	opacity: 0;
	transition: all 0.5s linear;
}
.sp:hover .ten{
	opacity: 0.9;
}
.sp .ten .goi .trong{
	width: 60px;
	height: 4px;
	background-color: black; 
}
.sp .ten .goi {
	position: absolute;
    margin-left: 35px;
    margin-top: 20px;
}
.sp .ten .goi h4{
	font-size: 30px;
	color: white;
}
.sp .ten .goi p{
	color: white;
	font-size: 15px;

}
.sanpham .col-sm-6 {
    padding-bottom: 30px;
} 
.thongtin{
	padding-top: 100px;
	padding-bottom: 100px;
}
#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
a.btn.btn-danger.dropdown-toggle {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}
a.btn.btn-outline-danger.dropdown-item:hover{
	background-color: #C9302C;
}